@page
@model DuendeIdentityServerwithASP.NETCoreIdentity1.Pages.Account.Register.Index

<form asp-page="/Account/Register/Index">
    <input type="hidden" asp-for="RegisterInput.ReturnUrl"/>
    
    <div class="form-group">
        <label asp-for="RegisterInput.Username"></label>
        <input class="form-control" placeholder="Username" asp-for="RegisterInput.Username" autofocus>
    </div>
    <div class="form-group">
        <label asp-for="RegisterInput.Email"></label>
        <input class="form-control" placeholder="Email" asp-for="RegisterInput.Email" autofocus>
    </div>
    <div class="form-group">
        <label asp-for="RegisterInput.Password"></label>
        <input type="password" class="form-control" placeholder="Password" asp-for="RegisterInput.Password" autofocus>
    </div>
    <div class="form-group">
        <label asp-for="RegisterInput.ConfirmPassword"></label>
        <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="RegisterInput.ConfirmPassword" autocomplete="off">
    </div>

    <button class="btn btn-primary" name="RegisterInput.Button" value="register">Register</button>
    <button class="btn btn-secondary" name="RegisterInput.Button" value="cancel">Cancel</button>
</form>
